In [1]:
import numpy as np
import pandas as pd

### 한국어 단발성 대화 전처리

In [39]:
df = pd.read_excel('data/한국어_단발성_대화_데이터셋.xlsx')

In [40]:
df.head()

,Sentence,Emotion,Unnamed: 2,Unnamed: 3,Unnamed: 4,공포,5468
0,언니 동생으로 부르는게 맞는 일인가요..??,공포,NaN,NaN,NaN,놀람,5898.0
1,그냥 내 느낌일뿐겠지?,공포,NaN,NaN,NaN,분노,5665.0
2,아직너무초기라서 그런거죠?,공포,NaN,NaN,NaN,슬픔,5267.0
3,유치원버스 사고 낫다던데,공포,NaN,NaN,NaN,중립,4830.0
4,근데 원래이런거맞나요,공포,NaN,NaN,NaN,행복,6037.0

In [41]:
data = df[['Sentence', 'Emotion']]
data.columns = [['Sentence', 'Label']]

In [42]:
data.head()

                   Sentence Label
0  언니 동생으로 부르는게 맞는 일인가요..??    공포
1              그냥 내 느낌일뿐겠지?    공포
2            아직너무초기라서 그런거죠?    공포
3             유치원버스 사고 낫다던데    공포
4               근데 원래이런거맞나요    공포

In [44]:
data['Label'] = data['Label'].replace(['공포','놀람','분노', '슬픔', '중립', '행복', '혐오'],[0,0,0,0,2,1,0])

<ipython-input-44-3f01ecaed4bf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Label'] = data['Label'].replace(['공포','놀람','분노', '슬픔', '중립', '행복', '혐오'],[0,0,0,0,2,1,0])

In [45]:
data.head()

                   Sentence Label
0  언니 동생으로 부르는게 맞는 일인가요..??     0
1              그냥 내 느낌일뿐겠지?     0
2            아직너무초기라서 그런거죠?     0
3             유치원버스 사고 낫다던데     0
4               근데 원래이런거맞나요     0

In [46]:
data.to_csv('data/전처리/한국어_단발성_대화_전처리.csv')

### 한국어 연속적 대화 데이터 전처리

In [47]:
df = pd.read_excel('data/한국어_연속적_대화_데이터셋.xlsx')

In [48]:
df.head()

,Sentence,Emotion,Unnamed: 2,Unnamed: 3,행복,중립,슬픔,공포,혐오,분노,놀람
0,아 진짜! 사무실에서 피지 말라니깐! 간접흡연이 얼마나 안좋은데!,분노,NaN,NaN,1030.0,43804.0,1973.0,98.0,221.0,3634.0,4867.0
1,그럼 직접흡연하는 난 얼마나 안좋겠니? 안그래? 보면 꼭... 지 생각만 하고.,혐오,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,손님 왔어요.,중립,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,손님? 누구?,중립,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,몰라요. 팀장님 친구래요.,중립,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
data = df[['Sentence', 'Emotion']]
data.columns = [['Sentence', 'Label']]

In [50]:
data.head()

                                       Sentence Label
0          아 진짜! 사무실에서 피지 말라니깐! 간접흡연이 얼마나 안좋은데!    분노
1  그럼 직접흡연하는 난 얼마나 안좋겠니? 안그래? 보면 꼭... 지 생각만 하고.    혐오
2                                       손님 왔어요.    중립
3                                       손님? 누구?    중립
4                                몰라요. 팀장님 친구래요.    중립

In [51]:
data['Label'] = data['Label'].replace(['공포','놀람','분노', '슬픔', '중립', '행복', '혐오'],[0,0,0,0,2,1,0])

<ipython-input-51-3f01ecaed4bf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Label'] = data['Label'].replace(['공포','놀람','분노', '슬픔', '중립', '행복', '혐오'],[0,0,0,0,2,1,0])

In [52]:
data.head()

                                       Sentence Label
0          아 진짜! 사무실에서 피지 말라니깐! 간접흡연이 얼마나 안좋은데!     0
1  그럼 직접흡연하는 난 얼마나 안좋겠니? 안그래? 보면 꼭... 지 생각만 하고.     0
2                                       손님 왔어요.     2
3                                       손님? 누구?     2
4                                몰라요. 팀장님 친구래요.     2

In [53]:
data.to_csv('data/전처리/한국어_연속적_대화_전처리.csv')

### 챗봇 데이터

In [54]:
df = pd.read_csv('data/ChatbotData.csv', encoding='euc-kr')

In [55]:
df.head()

                 Q            A  label
0           12시 땡!   하루가 또 가네요.      0
1      1지망 학교 떨어졌어    위로해 드립니다.      0
2     3박4일 놀러가고 싶다  여행은 언제나 좋죠.      0
3  3박4일 정도 놀러가고 싶다  여행은 언제나 좋죠.      0
4          PPL 심하네   눈살이 찌푸려지죠.      0

In [56]:
data = df.drop(['A'], axis=1)
data

                             Q  label
0                       12시 땡!      0
1                  1지망 학교 떨어졌어      0
2                 3박4일 놀러가고 싶다      0
3              3박4일 정도 놀러가고 싶다      0
4                      PPL 심하네      0
...                        ...    ...
11818           훔쳐보는 것도 눈치 보임.      2
11819           훔쳐보는 것도 눈치 보임.      2
11820              흑기사 해주는 짝남.      2
11821  힘든 연애 좋은 연애라는게 무슨 차이일까?      2
11822               힘들어서 결혼할까봐      2

[11823 rows x 2 columns]

In [57]:
data.columns = [['Sentence', 'Label']]

In [58]:
data

                      Sentence Label
0                       12시 땡!     0
1                  1지망 학교 떨어졌어     0
2                 3박4일 놀러가고 싶다     0
3              3박4일 정도 놀러가고 싶다     0
4                      PPL 심하네     0
...                        ...   ...
11818           훔쳐보는 것도 눈치 보임.     2
11819           훔쳐보는 것도 눈치 보임.     2
11820              흑기사 해주는 짝남.     2
11821  힘든 연애 좋은 연애라는게 무슨 차이일까?     2
11822               힘들어서 결혼할까봐     2

[11823 rows x 2 columns]

In [59]:
data['Label'] = data['Label'].replace([0,1,2],[2,0,1])

In [61]:
data.to_csv('data/전처리/챗봇.csv')

### 욕설

In [85]:
data = pd.read_csv('data/curse.txt',sep = "|",names=['Sentence', 'Label'], on_bad_lines='skip')

In [87]:
data.head()

                                       Sentence  Label
0                                     좌배 까는건 ㅇㅂ      1
1                  집에 롱 패딩만 세 개다. 10년 더 입어야지 ㅋㅋ      0
2   개소리야 니가 빨갱이를 옹호하고 드루킹을 ㅇㅇ짓이라고 말못해서 삐진거야 빨갱아      1
3                                   세탁이라고 봐도 된다      0
4                            애새끼가 초딩도 아니고 ㅋㅋㅋㅋ       1

In [88]:
data['Label'] = data['Label'].replace([0, 1],[2, 0])

In [91]:
data.head()

                                       Sentence  Label
0                                     좌배 까는건 ㅇㅂ      0
1                  집에 롱 패딩만 세 개다. 10년 더 입어야지 ㅋㅋ      2
2   개소리야 니가 빨갱이를 옹호하고 드루킹을 ㅇㅇ짓이라고 말못해서 삐진거야 빨갱아      0
3                                   세탁이라고 봐도 된다      2
4                            애새끼가 초딩도 아니고 ㅋㅋㅋㅋ       0

In [92]:
data.to_csv('data/전처리/curse전처리.csv')

### korean_hate_speech_dev

In [93]:
df = pd.read_csv('data/korean_hate_speech_dev.tsv', sep = '\t')

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   (Sentence,)  471 non-null    object
 1   (Label,)     471 non-null    int64
dtypes: int64(1), object(1)
memory usage: 7.5+ KB

In [95]:
df = df.drop(['contain_gender_bias', 'bias'], axis=1)

In [96]:
df.columns = [['Sentence', 'Label']]

In [97]:
df['Label'] = df['Label'].replace(['none', 'offensive', 'hate'],[2, 0, 0])

In [98]:
df.head()

                                            Sentence Label
0                        송중기 시대극은 믿고본다. 첫회 신선하고 좋았다.     2
1                                            지현우 나쁜놈     0
2         알바쓰고많이만들면되지 돈욕심없으면골목식당왜나온겨 기댕기게나하고 산에가서팔어라     0
3                                   설마 ㅈ 현정 작가 아니지??     0
4  이미자씨 송혜교씨 돈이 그리 많으면 탈세말고 그돈으로 평소에 불우이웃에게 기부도 좀...     0

In [100]:
df['Label'].value_counts()

(Label,)
0           311
2           160
dtype: int64

In [102]:
df.to_csv('data/전처리/korean_hate_speech.csv')

### concat

In [103]:
df1 = pd.read_csv('data/전처리/한국어_단발성_대화_전처리.csv')
df2 = pd.read_csv('data/전처리/한국어_연속적_대화_전처리.csv')
df3 = pd.read_csv('data/전처리/curse전처리.csv')
df4 = pd.read_csv('data/전처리/챗봇.csv')
df5 = pd.read_csv('data/전처리/korean_hate_speech.csv')

In [109]:
main = pd.concat([df1, df2, df3, df4, df5])

In [111]:
main.drop(['Unnamed: 0'], axis=1, inplace=True)

In [112]:
main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112339 entries, 0 to 470
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Sentence  112339 non-null  object
 1   Label     112339 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.6+ MB

In [120]:
main['Label'].value_counts()

2    57864
0    44445
1    10030
Name: Label, dtype: int64

In [121]:
main.to_csv('data/전처리/merge.csv')